!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 Ticket was successfully updated
    %p
    %dl.dl-horizontal
      %dt
        %strong Ticket UID:
      %dd= @query.uid
      - @messages.each do |msg|
        %p= msg.html_safe
      Check changes there : #{@url}.
    %p Thanks for joining and have a great day!
